* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: #D3D3D3;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: white;
}